@import "tailwindcss";

@layer base {
  :root {
    --background: 210 11% 7%; /* #0f1211 */
    --foreground: 160 14% 93%; /* #e7eceb */

    --muted: 240 2% 16%; /* #27272a */
    --muted-foreground: 160 14% 93% / 0.7;

    --card: 220 17% 98% / 0.01;
    --card-foreground: 160 14% 93%;

    --popover: 210 11% 7%;
    --popover-foreground: 160 14% 93%;

    --primary: 165 96% 71%; /* #78fcd6 - the pale green */
    --primary-foreground: 160 8% 6%;
    
    --secondary: 160 14% 93%;
    --secondary-foreground: 165 14% 8%;

    --accent: 240 2% 25%;
    --accent-foreground: 240 2% 96%;

    --border: 240 100% 100% / 0.08;
    --ring: 165 96% 71%;

    --radius: 0.5rem;
  }

  .light {
    --background: 0 0% 100%;
    --foreground: 210 11% 7%;
    
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;

    --card: 0 0% 100%;
    --card-foreground: 210 11% 7%;

    --primary: 165 96% 71%;
    --primary-foreground: 160 8% 6%;
    
    --border: 240 6% 90%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased transition-colors duration-300;
  }
}

@theme {
  --font-sans: var(--font-sn-pro), ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  
  --color-border: hsl(var(--border));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}
